@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xl {
  font-size: 22px;
  font-weight: 600;
}

.text-3xl {
  font-size: 32px;
  font-weight: 800;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 900;
}
.light-mode {
  background-color: #fffdf9;
  color: black;
}

.dark-mode {
  background-color: #000;
  color: white;
}

html, body {
  transition: background-color 0.3s, color 0.3s;
}

